
	<suite name="Suite">
		<listeners>
			<listener class-name="ExtentReport.ExtentReportListner" />
		</listeners>
		<test name="Test">
			<classes>
				<!--class name="Exposure.RestAssured.ReminderTests"/-->
				<class name="Exposure.RestAssured.setConsentTest"/>
				<!--class name="Exposure.RestAssured.WishlistTests"/-->
				<!--class name="Exposure.RestAssured.Swimlanes"/-->
				<methods>
					<include name="createSwimlaneWithClientUILayouts_BEP2036301"/>
					<include name="createSwimlaneWithClientUILayouts_BEP2036302"/>
				</methods>
			</classes>
		</test>
		<!-- Test -->
	</suite>
	<!-- Suite -->
